<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
<!--
    <meta name="viewport" content="width=device-width;user-scalable=no">
-->
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/hammer.js"></script>
    <script src="/javascripts/mrqd.js"></script>
  </head>
  <body>
    <h1 class="year-month"><span class="current-year"><%= date.getFullYear() %></span>年<span class="current-month"><%= date.getMonth()+1 %></span>月</h1>
    <div class="checkin-container">
      <table class="checkin-table">
        <tr>
          <% for (var i=0; i<3; i++) { %>
          <th>周一</th><th>周二</th><th>周三</th><th>周四</th>
          <th>周五</th><th>周六</th><th>周日</th>
          <% } %>
        </tr>
        <% var time = date.getTime();
           var dates = [new Date(time), new Date(time), new Date(time)];
           var months = [];
           dates.forEach(function(d, i) {
               d.setMonth(d.getMonth()+i-1);
               d.setDate(1);
               months[i] = d.getMonth();
               var day = d.getDay() - 1;
               day = day < 0 ? day + 7 : day;
               d.setDate(d.getDate() - day);
           });
           for (var i=0; i<6; i++) {
        %>
        <tr>
          <% for (var j=0; j<3; j++) {
               for (var k=0; k<7; k++) {
                 var currMonth = dates[j].getMonth() == months[j] ? " in-current-month" : "";
          %>
          <td class="checkin-cell<%= currMonth%>">
              <%= dates[j].getDate() %>
          </td>
          <%     dates[j].setDate(dates[j].getDate()+1);
               }
             }
          %>
        </tr>
        <% } %>
      </table>
    </div>
    <div id="habbit-container">
    </div>
    <div id="toolbar">
        <button id="new-habbit">新建</button>
        <button id="manage-habbits">管理</button>
        <button id="clear-log">清除调试日志</button>
    </div>
    <div id="debug-log">
    </div>
  </body>
</html>
