<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/hammer.js"></script>
    <script src="/javascripts/mrqd.js"></script>
  </head>
  <body>
    <div id="header">
      <img src="/images/checkin-blue.png" alt="每日签到"></img>
      <p class="user-title"><span class="user"><%= user.name %></span>的签到</p>
      <div class="user-toolbar">
        <% if (user.id < 0) { %>
            <p class="login">登录</p>
            <p class="signup">免费注册</p>
        <% } else { %>
            <p class="user-config">配置</p>
            <p class="logout">退出</p>
        <% } %>
      </div>
    </div>
    <h1 class="year-month"><span class="current-year"><%= date.getFullYear() %></span>年<span class="current-month"><%= date.getMonth()+1 %></span>月</h1>
    <button class="button return-today">回今天</button>
    <div class="checkin-container">
      <table class="checkin-table">
        <tr>
          <% for (var i=0; i<3; i++) { %>
          <th>周一</th><th>周二</th><th>周三</th><th>周四</th>
          <th>周五</th><th>周六</th><th>周日</th>
          <% } %>
        </tr>
        <% var time = date.getTime();
           var dates = [new Date(time), new Date(time), new Date(time)];
           var months = [];
           dates.forEach(function(d, i) {
               d.setMonth(d.getMonth()+i-1);
               d.setDate(1);
               months[i] = d.getMonth();
               var day = d.getDay() - 1;
               day = day < 0 ? day + 7 : day;
               d.setDate(d.getDate() - day);
           });
           for (var i=0; i<6; i++) {
        %>
        <tr>
          <% for (var j=0; j<3; j++) {
               for (var k=0; k<7; k++) {
                 var currMonth = dates[j].getMonth() == months[j] ? " in-current-month" : "";
          %>
          <td class="checkin-cell<%= currMonth%>">
              <%= dates[j].getDate() %>
          </td>
          <%     dates[j].setDate(dates[j].getDate()+1);
               }
             }
          %>
        </tr>
        <% } %>
      </table>
    </div>
    <div id="habit-container">
        <ul id="habit-list">
        </ul>
    </div>
    <div id="toolbar">
      <button id="new-habit" class="button">新建</button>
      <button id="manage-habits" class="button">管理</button>
      <button id="clear-log" class="button">清除调试日志</button>
    </div>
    <div id="debug-log">
    </div>
    <div class="dialog-container">
      <div class="dialog-background"></div>
      <div class="dialog dialog-info">
        <div class="dialog-title"></div>
        <div class="dialog-message"></div>
        <div class="dialog-button-bar">
          <button class="button dialog-button-ok">知道了</button>
        </div>
      </div>
      <div class="dialog dialog-yesno">
        <div class="dialog-title"></div>
        <div class="dialog-message"></div>
        <div class="dialog-button-bar">
          <button class="button dialog-button-yes">是的</button>
          <button class="button dialog-button-no">不</button>
        </div>
      </div>
      <div class="dialog dialog-login">
        <div class="dialog-title">登录</div>
        <div class="dialog-content">
          <p>没有账号？<span class="to-signup">免费注册</span></p>
          <input type="text" class="dialog-input" id="login-user" placeholder="邮箱名或手机号">
          <input type="text" class="dialog-input" id="login-password" placeholder="密码">
        </div>
        <div class="dialog-button-bar">
          <button class="button dialog-button-yes">登录</button>
          <button class="button dialog-button-no">取消</button>
        </div>
      </div>
      <div class="dialog dialog-signup">
        <div class="dialog-title">注册</div>
        <div class="dialog-content">
          <p>已有账号？<span class="to-login">登录</span></p>
          <div class="dialog-input"><input type="text" id="signup-phone" placeholder="手机号"><span>*</span></div>
          <div class="dialog-input"><input type="text" id="signup-email" placeholder="邮箱名"><span></span></div>
          <div class="dialog-input"><input type="text" id="signup-password" placeholder="密码"><span>*</span></div>
          <div class="dialog-input"><input type="text" id="signup-password-again" placeholder="重复输入密码"><span>*</span></div>
        </div>
        <div class="dialog-button-bar">
          <button class="button dialog-button-yes">注册</button>
          <button class="button dialog-button-no">取消</button>
        </div>
      </div>
    </div>
  </body>
</html>
