<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/mrqd.css" />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/hammer.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/mrqd.js"></script>
  </head>


  <body>
    <% if (user.id < 0) { %>
    <nav class="no-user">
    <% } else { %>
    <nav>
    <% } %>
      <img class="brand" src="/images/checkin-blue.png" alt="每日签到"></img>
      <p class="user-title"><span class="user"><%= user.name %></span>的签到</p>
      <a class="login" data-toggle="modal" data-target="#dialog-login">登录</a>
      <a class="signup" data-toggle="modal" data-target="#dialog-signup">免费注册</a>
      <a class="user-config" data-toggle="modal" data-target="#dialog-user-config">配置</a>
      <a class="logout" id="button-logout">退出</a>
    </nav>


    <div id="checkin-body">
      <div class="container checkin-header">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4"> 
            <h3 class="year-month"><span class="current-year"><%= date.getFullYear() %></span>年<span class="current-month"><%= date.getMonth()+1 %></span>月</h3>
          </div>
          <div class="col-xs-3 col-md-4">
            <button class="btn btn-default return-today">回今天</button>
          </div>
        </div>
      </div>
      <div class="checkin-container">
        <table class="checkin-table">
          <tr>
            <% for (var i=0; i<3; i++) { %>
            <th>周一</th><th>周二</th><th>周三</th><th>周四</th>
            <th>周五</th><th>周六</th><th>周日</th>
            <% } %>
          </tr>
          <% var time = date.getTime();
             var dates = [new Date(time), new Date(time), new Date(time)];
             var months = [];
             dates.forEach(function(d, i) {
                 d.setMonth(d.getMonth()+i-1);
                 d.setDate(1);
                 months[i] = d.getMonth();
                 var day = d.getDay() - 1;
                 day = day < 0 ? day + 7 : day;
                 d.setDate(d.getDate() - day);
             });
             for (var i=0; i<6; i++) {
          %>
          <tr>
            <% for (var j=0; j<3; j++) {
                 for (var k=0; k<7; k++) {
                   var currMonth = dates[j].getMonth() == months[j] ? " in-current-month" : "";
            %>
            <td class="checkin-cell<%= currMonth%>">
                <%= dates[j].getDate() %>
            </td>
            <%     dates[j].setDate(dates[j].getDate()+1);
                 }
               }
            %>
          </tr>
          <% } %>
        </table>
      </div>
      <div id="habit-container">
          <ul id="habit-list" class="list-group">
          </ul>
      </div>
    </div> <!-- .checkin-body -->

    <div id="manage-body">
    </div> <!-- .manage-body -->


    <div id="toolbar" class="container">
      <div class="row">
        <div class="col-xs-offset-4 col-xs-4">
          <button id="new-habit" class="btn btn-primary" data-toggle="modal" data-target="#dialog-new-habit">新建</button>
        </div>
        <div class="col-xs-4">
          <button id="manage-habits" class="btn btn-default" data-toggle="modal" data-target="#dialog-info">管理</button>
        </div>
        <div class="col-xs-4">
          <button id="clear-log" class="btn">清除调试日志</button>
        </div>
      </div>
    </div>


    <div id="debug-log">
    </div>


    <!-- 对话框：显示信息 -->
    <div class="modal fade" id="dialog-info" tabindex="-1" role="dialog" aria-labelledby="dialog-info-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="dialog-info-title">提示</h2>
          </div>
          <div class="modal-body">
            <p id="dialog-info-message">提示信息</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 对话框：确认 -->
    <div class="modal fade" id="dialog-confirm" tabindex="-1" role="dialog" aria-labelledby="dialog-confirm-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="dialog-confirm-title">确认</h2>
          </div>
          <div class="modal-body">
            <p id="dialog-confirm-message">确认信息</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="button-confirm">确认</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 对话框：登录 -->
    <div class="modal fade" id="dialog-login" tabindex="-1" role="dialog" aria-labelledby="dialog-login-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="dialog-login-title">登录</h2>
          </div>
          <div class="modal-body">
            <p class="error-message"></p>
            <div class="form-group">
              <label class="control-label" for="login-user">邮箱 或 手机号</label>
              <input type="text" class="form-control" id="login-user" placeholder="邮箱或手机号" aria-describedby="login-user-desc">
              <span id="login-user-desc" class="sr-only">请输入合法的邮箱名字或手机号码</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="login-password">密码</label>
              <input type="password" class="form-control" id="login-password" placeholder="密码" aria-describedby="login-password-desc">
              <span id="login-password-desc" class="sr-only">密码必须6位或6位以上</span>
            </div>
            <p>没有账号？<a id="to-signup">免费注册</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="button-login">登录</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 对话框：注册 -->
    <div class="modal fade" id="dialog-signup" tabindex="-1" role="dialog" aria-labelledby="dialog-signup-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="dialog-login-title">注册</h2>
          </div>
          <div class="modal-body">
            <p class="error-message"></p>
            <div class="form-group">
              <label class="control-label" for="signup-name">名字</label>
              <input type="text" class="form-control" id="signup-name" placeholder="名字" aria-describedby="signup-name-desc">
              <span id="signup-name-desc" class="sr-only">请输入用户名，登录后展示在页面上</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="signup-phone">手机号</label>
              <input type="text" class="form-control" id="signup-phone" placeholder="手机号" aria-describedby="signup-phone-desc">
              <span id="signup-phone-desc" class="sr-only">请输入合法的手机号码，11位阿拉伯数字</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="signup-email">邮箱</label>
              <input type="email" class="form-control" id="signup-email" placeholder="邮箱" aria-describedby="signup-email-desc">
              <span id="signup-email-desc" class="sr-only">请输入合法的邮箱</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="signup-password">密码</label>
              <input type="password" class="form-control" id="signup-password" placeholder="密码" aria-describedby="signup-password-desc">
              <span id="signup-password-desc" class="sr-only">请输入密码，最少6位</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="signup-password-again">重复密码</label>
              <input type="password" class="form-control" id="signup-password-again" placeholder="重复密码" aria-describedby="signup-password-desc">
              <span id="signup-password-desc" class="sr-only">请重复输入密码，与上一个输入相同</span>
            </div>
            <p>已有账号？<a id="to-login">登录</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="button-signup">注册</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 对话框：创建新习惯 -->
    <div class="modal fade" id="dialog-new-habit" tabindex="-1" role="dialog" aria-labelledby="dialog-new-habit-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="dialog-new-habit-title">创建新习惯</h2>
          </div>
          <div class="modal-body">
            <p class="error-message"></p>
            <div class="form-group">
              <label class="control-label" for="new-habit-name">名字</label>
              <input type="text" class="form-control" id="new-habit-name" placeholder="新习惯名字" aria-describedby="new-habit-name-desc">
              <span id="new-habit-name-desc" class="sr-only">请输入新习惯名字</span>
            </div>
            <ul class="list-inline" id="new-habit-workdays">
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="1" checked>
                  周一
                </label>
              </li>
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="2" checked>
                  周二
                </label>
              </li>
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="3" checked>
                  周三
                </label>
              </li>
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="4" checked>
                  周四
                </label>
              </li>
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="5" checked>
                  周五
                </label>
              </li>
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="6">
                  周六
                </label>
              </li>
              <li class="checkbox">
                <label>
                  <input type="checkbox" value="7">
                  周日
                </label>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="button-new-habit">创建</button>
          </div>
        </div>
      </div>
    </div>


    <!-- 对话框：修改配置 -->
    <div class="modal fade" id="dialog-user-config" tabindex="-1" role="dialog" aria-labelledby="dialog-user-config-title">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="dialog-user-config-title">修改配置</h2>
          </div>
          <div class="modal-body">
            <p class="error-message"></p>
            <div class="form-group">
              <label class="control-label" for="signup-name">名字</label>
              <input type="text" class="form-control" id="user-config-name" placeholder="名字" aria-describedby="signup-name-desc">
              <span id="signup-name-desc" class="sr-only">请输入用户名，登录后展示在页面上</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="signup-phone">手机号</label>
              <input type="text" class="form-control" id="user-config-phone" placeholder="手机号" aria-describedby="signup-phone-desc">
              <span id="signup-phone-desc" class="sr-only">请输入合法的手机号码，11位阿拉伯数字</span>
            </div>
            <div class="form-group">
              <label class="control-label" for="signup-email">邮箱</label>
              <input type="email" class="form-control" id="user-config-email" placeholder="邮箱" aria-describedby="signup-email-desc">
              <span id="signup-email-desc" class="sr-only">请输入合法的邮箱</span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="button-user-config">保存</button>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
